/*
@author Kolozsvári Barnabás
*/
* {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif
}
select {
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}
.btn {
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    margin:0 2px;
    cursor: pointer;
}
.btn-reset {
    color: red;
}
.btn-save {
    color: green;
}
.btn-query {
    color: blue;
}
.btn-right {
    display: inline-block;
    margin-right: 10px;
    float: right;
}
.msg {
    color: green;
    font-weight: bold
}
.msg-error {
    color: red;
    font-weight: bold;
}
.msg-right {
    display: block;
    text-align: right;
    margin: 10px;
}
table {
    display: block;
    border-collapse: collapse;
    margin: 10px 0;
}
table.table-hover-disable {
    pointer-events: none;
}
tr:nth-child(1), tr:nth-child(1):hover {
    background-color: unset;
}
tr:nth-child(2n), tr:nth-child(2n).hover-disable:hover {
    background-color: #c1e1ec;
}
tr:hover, tr:nth-child(2n):hover {
    background-color: lightcoral;
}
td {
    text-align: center;
    vertical-align: middle;
    border: 1px black solid;
    width: 9vw;
    height: 25px;
    text-transform: capitalize;
}
td.half-width {
    width: 4vw;
}
td.min-width {
    width: 2vw;
}
td.bold {
    font-weight: bold;
}
td.italic {
    font-style: italic;
}
td.allcaps {
    text-transform: uppercase;
}
td.first-col {
    text-align: left;
    padding-left: 2px;
    width: 12vw;
}
td.table-class {
    font-size: x-large;
    padding: 5px;
    background-color: white;
    border: none;
    text-transform: uppercase;
}
td.table-title {
    padding: 5px;
    font-weight: bold;
}
td.td-invisible {
    background-color: white;
    border: none;
}
td.td-highlight {
    font-weight: bold;
    color: white;
    background-color: #2F4F4F;
}
td.td-avg {
    background-color: white;
}
table.class-table {
    margin: 2vh 0 4vh 0;
}
h2, p {
    font-variant: small-caps;
}
h2.class-title {
    font-size: xx-large;
    text-transform: uppercase;
}